/* Importing the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box; /* Include borders and padding in the sizing of elements */
}

/* ---------- COLOR VARIABLES ---------- */
:root {
    /* Text colors */
    --text-color-1: #EEEEEE; /* High visibility text */
    --text-color-2: #BBBBBB; /* Medium visibility text */
    --text-color-3: #999999; /* Low visibility text */

    /*Background colors */
    --background-color-1: #111111; /* Main background color */
    --background-color-1-hover: #151515; /* Hover color for secondary button */
    --background-color-1-active: #0B0B0B; /* active color for secondary button */

    --background-color-2: #222222; /* Background color for header/footer and toggle button */
    --background-color-2-hover: #262626; /* Hover color for toggle-button */
    --background-color-2-active: #1C1C1C; /* Active color for toggle-button */

    /* Special colors */
    --primary-color: #017CC2; /* Color for primary buttons etc. */
    --primary-color-hover: #006CB2; /* Hover color for primary buttons */
    --primary-color-active: #005CA2; /* Active color for primary buttons */
    --accent-color: #44BA3A; /* Color for visual elements. */
    --accent-color-50: #2E6929; /* Darker color for visual elements. */

    /* Colors for borders etc. */
    --low-visibility-color: #333333; /* Low visibility for borders etc. */
    --low-visibility-color-hover: #383838; /* Hover color for borders etc. */
    --low-visibility-color-active: #292929; /* Active color for borders etc. */
}

/* ---------- LAYOUT ---------- */

body {
    margin: 0;
    color: var(--text-color-1);
    background: var(--background-color-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    padding-inline: 200px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

.user-ul li {
    margin-bottom: 4px;
}

input {
    height: 32px;
    color: var(--text-color-1);
    background: var(--low-visibility-color);
    border: none;
    padding-inline: 12px;
    border-radius: 10px;
}

/* ---------- TYPOGRAPHY ---------- */
/* Headings */
h1 {
    font-size: 36px;
    font-weight: 600;
}

/* Special text */
.username {
    cursor: pointer;
    margin: 0;
}

.username:hover {
    text-decoration: underline;
}

.user-status-text {
    margin-top: 4px;
    margin-bottom: 0;
}

/* Links */
a {
    text-decoration: none;
    color: var(--text-color-3)
}

a:hover {
    color: var(--accent-color)
}

/* ---------- HEADER ---------- */
header,
footer {
    background: var(--background-color-2);
    display: flex;
}

header {
    height: 100px;
}

.green-box {
    position: relative;
}

.green-box::before {
    background: var(--accent-color);
    width: 168px;
    height: 77px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-3deg) translate(-50%, -50%);
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 50px;
    margin-right: 16px;
}

.logo-txt {
    font-size: 1.5rem; /* 24px */
}

nav {
    color: var(--text-color-3);
}

.nav-ul {
    display: flex;
    gap: 32px;
}

.nav-ul li:hover {
    color: var(--text-color-2);
    cursor: pointer;
}

.nav-ul .vertical-divider {
    background: var(--text-color-3);
    height: 16px;
    width: 1px;
}

.nav-ul i {
    margin-left: 16px;
}

/* ---------- MAIN ---------- */

main {
    min-height: calc(100svh - 180px); /* View height - (header + footer) */
    display: flex;
    align-items: center;
    padding: 100px 0 200px;
}

.main-page-main {
    padding: 0;
    justify-content: center;
}

/* ---------- HERO SECTION ---------- */
.hero-section .container {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: min-content min-content;
    grid-template-columns: max-content auto;
    grid-template-areas: 
        "heading heading"
        "list buttons";
    padding-inline: 200px;
    gap: 30px 100px;
}

.hero-section-heading {
    margin: 0;
    grid-area: heading;
    font-size: 4rem; /* 64px */
    font-weight: 900;
    max-width: 750px;
}

.hero-section-ul {
    color: var(--text-color-2);
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    grid-area: list;
    margin: 0;
    justify-content: end;
}

.hero-section-ul i {
    width: 20px;
    text-align: center;
    margin-right: 16px;
}

.hero-section-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 16px;
}

/* ---------- SIGN UP / LOG IN SECTION ---------- */
.signup-section .container {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: max-content;
    grid-template-columns: min-content max-content;
    grid-template-areas: 
        "icon form";
    padding-inline: 200px;
    gap: 30px 100px;
}

.toggle-switch {
    display: flex;
}

.left-btn, .right-btn {
    color: var(--text-color-1);
    background: var(--background-color-2);
    font-size: 24px;
    height: 48px;
    width: 150px;
    border: 0;
    cursor: pointer;
    margin-bottom: 1em;
}

.left-btn:hover,
.right-btn:hover {
    background: var(--background-color-2-hover)
}

.left-btn:active,
.right-btn:active {
    background: var(--background-color-2-active)
}

.left-btn {
    border-radius: 24px 0 0 24px;
}

.right-btn {
    border-radius: 0 24px 24px 0;
}

.signup-form,
.login-form {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heading heading"
        "firstname lastname"
        "email email"
        "newpw newpw"
        "reenterpw reenterpw"
        "button button";
    grid-gap: 24px;
}

.login-form {
    display: none; 
}

.signup-heading {
    margin: 0;
    grid-area: heading;
}

/* ---------- USER SETUP ---------- */
.language-wheel {
    width: 100%;
    display: flex;
    overflow: auto;
    gap: 1em;
}

.language-card {
    min-width: 250px;
    background: #222222;
    padding: 1em;
    border-radius: 10px;
}

.language-wheel-img {
    width: 200px;
    height: 133px;
}

/* ---------- SITE LANGUAGE SECTION ---------- */
.sitelanguage-section,
.sitelanguage-section .container {
    margin: 0; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.sitelanguage-heading {
    font-size: 3rem;
    font-weight: 800;
    margin: 0 auto 1em auto;
    width: 100%;
    text-align: left;
}

.sitelanguage-heading .fa-random {
    color: var(--accent-color);
    padding-right: 0.5em;
}

.sitelanguage-section p {
    font-size: 1.5rem;
    margin: 1.5em 0;
    font-weight: 600;
}

#current-language-selection {
    margin: 0 1em;
}

.new-language-section {
    display: flex;
    flex-direction: row;
}

.new-language-selection {
    width: max-content;
}

.language-dropdown-container {
    float: left;
    width: 25em;
    overflow: hidden;
    margin: auto 3em;
}

.language-dropdown-btn {
    border-radius: 4px;
    border: 1px solid var(--text-color-2);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    background: var(--text-color-1);
    padding: 0.5em 0em 0.5em 1em;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.language-dropdown-btn i,
.language-dropdown-menu i
{
    margin: auto 1em auto auto;
    text-align: right; 
}

.language-dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 25em;
    overflow: scroll;
    max-height: 9em;
}

/* shows the dropdown menu options */
.language-dropdown-container:hover .language-dropdown-menu {
    display: flex;
    flex-direction: column;
}

.language-dropdown-menu button {
    background: var(--text-color-1);
    padding: 0.5em 0em 0.5em 1em;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    border: none;
    width: inherit;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.language-dropdown-menu button:hover {
    background:  var(--accent-color);
}


/* ---------- MAIN - CHAT SECTION ---------- */
.chat-section .container {
    width: calc(100vw - 400px);
    min-height: calc(100svh - 400px);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 230px auto 230px;
    background: #181818;
    padding: 0;
    border-radius: 10px;
}

.chat-section-left-panel,
.chat-section-right-panel {
    padding: 20px;
}

/*  ---------- LEFT CHAT PANEL ---------- */
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.online-icon {
    font-size: 12px;
    margin-right: 4px;
    color: var(--accent-color);
}

.flag-img {
    width: 40px;
    height: 27px;
    border: 1px solid #DDDDDD;
}

.contact-list {
    margin-top: 48px;
}

/* ---------- MAIN CHAT PANEL ---------- */
.chat-section-main-panel {
    border: 1px solid #111111;
    position: relative;
}

/* Chat Header */
.chat-section-main-panel-header {
    height: fit-content;
    background: #292929;
    padding: 24px;
    align-items: center;
}

.user-txt {
    margin-left: 12px;
}

/* Chat Messages Window */
.messages-window {
    padding: 24px;
}

.message {
    width: 80%;
    background: var(--low-visibility-color-active);
    padding: 24px;
    margin-top: 12px;
    border-radius: 10px;
}

.message p {
    margin: 0;
}

.sent {
    margin-left: auto;
    background: var(--accent-color-50);
}


/* Chat input window */
.chat-input-window {
    width: 100%;
    height: 180px;
    background: #292929;
    position: absolute;
    bottom: 0;
    padding: 12px 24px;
}

.chat-input-window-icons {
    display: flex;
    gap: 12px;
    margin: 0;
}

.chat-input-window-icons li {
    color: var(--text-color-3);
    cursor: pointer;
}

.chat-input-window-icons li:hover {
    color: var(--text-color-2);
    cursor: pointer;
}

.chat-input-field {
    position: absolute;
    font-size: 1rem;
    width: calc(100% - 48px - 48px);
    height: calc(100% - 48px);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-1);
    background: none;
    resize: none;
    border: 0;
    border-radius: 10px;
    outline: none;
    bottom: 12px;
}

.send-btn {
    display: block;
    position: absolute; 
    width: 48px;
    height: 48px;
    font-size: 24px;
    color: var(--text-color-1);
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    bottom: 12px;
    right: 24px;
}

/* ---------- RIGHT CHAT PANEL ---------- */
/* Search Bar*/
.user-search-bar {
    position: relative;
}

.search-icon {
    color: var(--text-color-3);
    position: absolute;
    transform: translate(0, 50%);
    right: 12px;
}

.search-field {
    width: 100%;
    padding-right: 40px;
}


/* ---------- FOOTER ---------- */
footer {
    height: 80px;
    color: var(--text-color-3);
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

/* ---------- BUTTONS ---------- */
.btn {
    color: var(--text-color-1);
    width: 300px;
    height: 65px;
    border-radius: 33px;
    font-size: 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.primary-btn {
    background: var(--primary-color);
}

.primary-btn:hover {
    background: var(--primary-color-hover);
}

.primary-btn:active {
    background: var(--primary-color-active)
}

.secondary-btn {
    background: var(--backround-color-1);
    border: 3px solid var(--low-visibility-color);
}

.secondary-btn:hover {
    background: var(--background-color-1-hover);
    border-color: var(--low-visibility-color-hover);
}

.secondary-btn:active {
    background: var(--background-color-1-active);
    border-color: var(--low-visibility-color-active);
}

/* ---------- UTILITY CLASSES ---------- */
.large-icon {
    font-size: 320px;
}

.inline {
    display: inline;
}

.margin-0 {
    margin: 0;
}

.margin-top-24 {
    margin-top: 24px;
}

.text-3 {
    color: var(--text-color-3)
}

.accent {
    color: var(--accent-color)
}

.span-2 {
    grid-column: 1/ span 2;
}

.center {
    margin: auto;
}

.toggle-active {
    background-color: var(--primary-color);
}

.toggle-active:hover {
    background-color: var(--primary-color-hover);
}

.toggle-active:active {
    background-color: var(--primary-color-active);
}