/* Importing the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box; /* Include borders and padding in the sizing of elements */
}

/* Color variables */
:root {
    /* Text colors */
    --text-color-1: #EEEEEE; /* High visibility text */
    --text-color-2: #BBBBBB; /* Medium visibility text */
    --text-color-3: #999999; /* Low visibility text */

    /*Background colors */
    --background-color-1: #111111; /* Main background color */
    --background-color-1-hover: #151515; /* Hover color for secondary button */
    --background-color-1-active: #0B0B0B; /* active color for secondary button */
    --background-color-2: #222222; /* Background color for header/footer */

    /* Special colors */
    --primary-color: #017CC2; /* Color for primary buttons etc. */
    --primary-color-hover: #006CB2; /* Hover color for primary buttons */
    --primary-color-active: #005CA2; /* Active color for primary buttons */
    --accent-color: #44BA3A; /* Color for visual elements. */

    /* Colors for borders etc. */
    --low-visibility-color: #333333; /* Low visibility for borders etc. */
    --low-visibility-color-hover: #383838; /* Hover color for borders etc. */
    --low-visibility-color-active: #292929; /* Active color for borders etc. */
}

body {
    margin: 0;
    color: var(--text-color-1);
    background: var(--background-color-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    padding-inline: 200px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 4rem; /* 64px */
    font-weight: 900;
    max-width: 750px;
}

/* HEADER */
header,
footer {
    background: var(--background-color-2);
    display: flex;
}

header {
    height: 100px;
}

.green-box {
    position: relative;
}

.green-box::before {
    background: var(--accent-color);
    width: 168px;
    height: 77px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-3deg) translate(-50%, -50%);
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 50px;
    margin-right: 16px;
}

.logo-txt {
    font-size: 1.5rem; /* 24px */
}

nav {
    color: var(--text-color-3);
}

.nav-ul {
    display: flex;
    gap: 32px;
}

.nav-ul li:hover {
    color: var(--text-color-2);
    cursor: pointer;
}

.nav-ul .vertical-divider {
    background: var(--text-color-3);
    height: 16px;
    width: 1px;
}

.nav-ul i {
    margin-left: 16px;
}

/* MAIN */

main {
    min-height: calc(100svh - 180px); /* View height - (header + footer) */
    display: flex;
    align-items: center;
    padding: 100px 0 200px;
}

/* HERO SECTION */
.hero-section .container {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: min-content min-content;
    grid-template-columns: max-content auto;
    grid-template-areas: 
        "heading heading"
        "list buttons";
    padding-inline: 200px;
    gap: 30px 100px;
}

.hero-section-heading {
    margin: 0;
    grid-area: heading;
}

.hero-section-ul {
    color: var(--text-color-2);
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    grid-area: list;
    margin: 0;
    justify-content: end;
}

.hero-section-ul i {
    width: 20px;
    text-align: center;
    margin-right: 16px;
}

.hero-section-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 16px;
}

/* FOOTER */
footer {
    height: 80px;
    color: var(--text-color-3);
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.btn {
    color: var(--text-color-1);
    width: 300px;
    height: 65px;
    border-radius: 33px;
    font-size: 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.primary-btn {
    background: var(--primary-color);
}

.primary-btn:hover {
    background: var(--primary-color-hover);
}

.primary-btn:active {
    background: var(--primary-color-active)
}

.secondary-btn {
    background: var(--backround-color-1);
    border: 3px solid var(--low-visibility-color);
}

.secondary-btn:hover {
    background: var(--background-color-1-hover);
    border-color: var(--low-visibility-color-hover);
}

.secondary-btn:active {
    background: var(--background-color-1-active);
    border-color: var(--low-visibility-color-active);
}